.add-container{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-image: url("/static/image/website-bg.png");
    font-family: 'Kanit', sans-serif;
}

.detail-product{
    margin-top: 20px;
    margin-bottom: 50px;
}

.detail-product form{
    margin-left: 70px;
    width: 425px;
    margin-bottom: 50px;
}

.detail-product h2{
    margin-right: auto;
    padding: 20px;
    border-bottom: 1px solid #88ddbb;
}


.detail-product select{
    margin: 5px 0px 5px 12px;
    border-radius: 5px;
    height: 25px;
    border-color: #6c757d;
}

.add-pd{
    margin-top: 90px;
    margin-left: 100px;
}

.add-price{
    display: flex;
    align-items: center;
}
.add-price input{
    width: 77px;
    height: 30px;
    font-size: 14px;
    padding: 5px 20px;
    background-color: #FFFFFF;
    border: 1px solid #adb5bd;
    border-radius: 0px 4px 4px 0px !important;
    margin: 0;
    outline: none;
}

.input-group{
    width: 119px;
    margin: 5px 0px 5px 40px !important;
}
.input-group-prepend{
    height: 30px;
}
.form-control{
    height: 30px;
    width: 50px;
}
.form-control:focus{
    outline: none;
}

.err-msg{
    color: #dc3545;
    margin-bottom: 5px;
}