.index-container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("/static/image/website-bg.png");
    font-family: 'Kanit', sans-serif;
    position: absolute;
    background-repeat: repeat;
}

.top-nav-ind img{
    position: relative;
    height: 43px;
    width: 43px;
    margin: 4px 10px 4px 20px;
}

.top-nav-ind{
    display: flex;
    flex-direction: row;
    background-color: #88ddbb;
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 80px;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.top-nav-ind h1{
    color: #ffffff;
    font-weight: lighter;
    font-size: 28px;
    margin: 5px 0px;
}

.top-nav-ind a{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.top-nav-ind a:first-child{
    padding: 0px;
    padding-right: 25px;
}

.top-nav-ind a:hover:first-child{
    border: none;
}

.top-nav-ind a:hover{
    border-bottom: 5px solid #FCE27C;
}
.top-nav img{
    position: relative;
    height: 43px;
    width: 43px;
    margin: 4px 10px 4px 20px;
}

.top-nav{
    display: flex;
    flex-direction: row;
    background-color: #88ddbb;
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 80px;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.top-nav h1{
    color: #ffffff;
    font-weight: lighter;
    font-size: 28px;
    margin: 5px 0px;
}

.top-nav a{
    display: flex;
    align-items: center;
    padding: 30px 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.top-nav a:first-child{
    padding: 0px;
}

.top-nav a:hover:first-child{
    border: none;
}

.top-nav a:hover{
    border-bottom: 5px solid #FCE27C;
}

.main{
    margin-top: 20px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.dropdown-toggle{
    color: #ffffff;
    padding: 30px 25px;
}
.dropdown-toggle:hover{
    color: #ffffff;
    border-bottom: 5px solid #FCE27C;
}
.dropdown-menu{
    padding: 0px;
    border-radius: 4px;
}
.dropdown-menu button{
    background-color: #fce27c;
    border: none;
    height: 36px;
    color: #495057;
    outline: none;
}
.dropdown-menu button:hover{
    background-color: #88ddbb;
    color: #ffffff;
}
.dropdown-menu button:nth-child(2){
    border-radius: 4px 4px 0px 0px;
}
.dropdown-menu button:last-child{
    border-radius: 0px 0px 4px 4px;
}

.slide-container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.carousel-inner{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 6px;
}

.carousel{
    z-index: 0;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item active{
    background-color: #efeeee
}
.carousel-item{
    background-color: #efeeee
}

.category-home{
    max-width: 993px;
    margin-left: auto;
    margin-right: auto;
}

.category-home form{
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 8px;
}

.category-home button{
    border: none;
    font-size: 18px;
    padding: 10px 38px;
    color: #8a8989;
    background-color: #fce27c;
    outline: none;
}
.category-home button:nth-child(2){
    border-radius: 8px 0px 0px 8px;
}
.category-home button:last-child{
    border-radius: 0px 8px 8px 0px;
}

.category-home button:hover{
    background-color: #88ddbb;
}

.product-show{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 25px auto 100px auto;
    width: 987px;
    grid-gap: 40px;
}

.product-show img{
    height: 180px;
    max-width: 260px;
    margin: 0;
}

.box-product{
    background-color: #88ddbb;
    border-radius: 4px;
    border: 2px solid #00cca3;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.card{
    border-radius: 4px;
    border: 0px solid #88ddbb;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-body h5{
    white-space: nowrap;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
     -ms-text-overflow: ellipsis;
     overflow: hidden;
    width: 216px;
}
.card-body h6{
    color: #495057;
}

.link-detail a{
    text-decoration: none;
}

.frame img:first-child{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.frame img{
    display: none;
}

.card-body{
    background-color: #88ddbb;
    border-radius: 0px 0px 4px 4px;
}

.card:hover{
     border: 1px solid #88ddbb;
}

.card-body h5{
    color: #495057;
    text-align: start;
}

.icon-fav button{
    border: none;
    background-color: #88ddbb;
    color: #ffffff;
    outline: none;
}

.icon-fav button:hover{
    color: #df214c;
}
.icon-fav button:focus{
    color: #df214c;
}
.icon-fav button:active{
    color: #df214c;
}

.fav button{
    outline: none;
}
.fav-btn{
    border: 1px solid #ffffff;
    background-color: #88ddbb;
    border-radius: 6px;
    color: #ffffff;
}

.fav-btn:hover{
    border: 1px solid #df214c;
    background-color: #df214c;
    border-radius: 6px;
    color: #ffffff;
}

.search-bar{
    padding: 29px 25px;
}

.search-bar input{
    border: 1px solid #ffffff;
    border-radius: 6px;
    width: 150px;
    margin-left: 10px;
    padding-left: 10px;
    outline: none;
}

.search-bar svg{
    color: #ffffff;
}

.search-bar button{
    background-color: #88ddbb;
    border: none;
    outline: none;
}

.search-bar button:hover{
    background-color: #fce27c;
}

.navbar-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 40px;
}

.none-pd{
    color: #adb5bd;
}

.top-nav-res{
        display: none;
}

@media screen and (max-width: 1200px) {
    .top-nav-ind{
        display: none;
    }
    .top-nav-res{
        display: block;
        background-color: #88ddbb;
    }
    .navbar ul li a{
        color: #ffffff;
    }
    .logo-nav{
        display: grid;
        grid-template-columns: 43px auto;
        grid-gap: 10px;
        margin: 10px 0px;
        align-items: center;
    }
    .logo-nav h1{
        text-decoration: none;
        font-weight: lighter;
        font-size: 28px;
        color: #ffffff;
        margin: 10px 0px;
    }
    .navbar-toggler{
        margin: 0px 30px;
    }

    .navbar-toggler:focus{
        outline: none;
    }
    .dropdown-menu{
        border: none;
        width: 300px;
        margin-left: 100px;
    }
    .dropdown-menu button{
        height: 48px;
    }
    .dropdown-toggle{
        padding: 8px 0px;
    }
    .dropdown-toggle:hover{
        border-bottom: none;
    }
    .dropdown-menu button:hover{
        background-color: #88ddbba1;
    }
}
@media screen and (max-width: 1200px) {
    .top-nav-ind{
        display: none;
    }
    .top-nav-res{
        display: block;
        background-color: #88ddbb;
    }

}

.page-footer{
    width: 100vw;
    background-color: #88ddbb;
}
.footer-index{
    display: grid;
    grid-template-columns: 1fr;
    width: 960px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.list-unstyled{
    display: flex;
    gap: 40px;
    padding: 10px;
}
.footer-index h5{
    padding: 30px;
    margin: 0;
}
.footer-index a{
    text-decoration: none;
    color: #545454;
}
.footer-index a:hover{
    text-decoration: none;
    color: #ffffff;
}