.login{
    width: 100vw;
    height: 100vh;
    background-color: #545454;
    background-image: url("/static/image/THAMMA-BG.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    /*background-repeat: no-repeat;*/
}

.login-container{
    width: 260px;
    height: 310px;
    display: grid;
    justify-content: center;
    background-color: #88DDBB;
    box-shadow: 0px 0px 15px grey;
    border-radius: 8px;
}

.register{
    width: 100vw;
    height: 100vh;
    background-color: #545454;
    background-image: url("/static/image/bg-regis.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.register-container{
    width: 370px;
    height: 390px;
    display: grid;
    justify-content: center;
    background-color: #88DDBB;
    box-shadow: 0px 0px 15px grey;
    border-radius: 8px;
}

.input-form{
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
}

.head-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-sign{
    display: flex;
    flex-flow: column;
}

.head-login img{
    position: relative;
    height: 43px;
    width: 43px;
    margin: 9px 0px 0px;
}

.head-sign img{
    height: 35px;
    width: 35px;
    align-self: center;
    margin: 10px 0px 0px;
}

.head-sign p{
    text-align: center;
    color: #ececec;
    font-weight: lighter;
    font-size: 12px;
}

.footer-login p{
    text-align: center;
    margin: 5px 0px;
    color: #9B9B9B;
    font-weight: lighter;
    font-size: 13px;
}

.head-login h4 {
    color: #ffffff;
    margin: 10px;
    font-weight: lighter;
}

.head-login p {
    color: #ececec;
    font-weight: lighter;
    font-size: 15px;
}


.head-sign h3 {
    text-align: center;
    margin: 5px;
    color: #ffffff;

}

.user, .pwd{
    width: 187px;
    height: 30px;
    font-size: 14px;
    align-self: center;
    padding: 5px 10px;
    margin: 5px 0px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    outline: none;
}

.user-regis, .pwd-regis{
    width: 268px;
    height: 30px;
    font-size: 14px;
    align-self: center;
    padding: 5px 20px;
    margin: 5px 0px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    outline: none;
}

.name-surname{
    display: flex;
    align-self: center;
    gap: 5px;
}

.lname, .sname{
    width: 132px;
    height: 30px;
    font-size: 14px;
    align-self: center;
    padding: 5px 20px;
    margin: 5px 0px;
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    outline: none;
}

.submit{
    width: 188px;
    height: 30px;
    font-size: 18px;
    align-self: center;
    background-color: #FCE27C;
    border: #FCE27C;
    border-radius: 8px;
    color: #FFFFFF;
    margin: 5px 0px;
    outline: none;
}

.submit:hover{
    color: #FFFFFF;
    background-color: #DF214C;
    border: 1px solid #DF214C;
}

.signup{
    width: 268px;
    height: 35px;
    font-size: 18px;
    align-self: center;
    background-color: #FCE27C;
    border: #FCE27C;
    border-radius: 8px;
    color: #FFFFFF;
    margin: 5px 0px;
    outline: none;
}
.signup:hover{
    color: #FFFFFF;
    background-color: #DF214C;
    border: 1px solid #DF214C;
}

.footer-login{
    display: flex;
    justify-content: center;
    margin: 10px;
    column-gap: 10px;
}

.footer-login a{
    text-decoration: none;
    color: #e5e5e5;
}

.footer-login button{
    width: 55px;
    height: 24px;
    font-size: 11px;
    align-self: center;
    background-color: #00cca3;
    border: #df214c;
    border-radius: 12px;
}

.footer-login button:hover{
    color: #FFFFFF;
    background-color: #DF214C;
    border: 1px solid #DF214C;
}

.footer-register{
    display: flex;
    justify-content: center;
    margin: 15px;
    column-gap: 10px;
}

.footer-register a{
    text-decoration: none;
    color: #e5e5e5;
}

.footer-register button{
    width: 55px;
    height: 24px;
    font-size: 12px;
    align-self: center;
    background-color: #00cca3;
    border: #df214c;
    border-radius: 8px;
}

.footer-register button:hover{
    color: #FFFFFF;
    background-color: #DF214C;
    border: 1px solid #DF214C;
}

.alert-login{
    color: #FFFFFF;
    margin: 10px;
    background-color: #df214cab;
    border: 1px solid #df214c;
    border-radius: 8px;
    text-align: center;
    align-self: center;
    padding: 10px;
    width: 238px;
}

.alert-register{
    color: #FFFFFF;
    margin: 10px;
    background-color: #df214cab;
    border: 1px solid #df214c;
    border-radius: 8px;
    text-align: center;
    align-self: center;
    padding: 10px;
    width: 349px;
}