.thammart-container{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-image: url("/static/image/website-bg.png");
    font-family: 'Kanit', sans-serif;
}

.mymart{
    margin-top: 90px;
}
.mymart ul{
    margin-left: 100px;
}

.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: flex-start;
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.product img{
    height: 180px;
    max-width: 260px;
    margin: 0;
}

.side-nav{
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
    font-size: 18px;
    width: 172px;
}

.side-nav a{
    color: #fff;
    background-color: #88ddbb;
    padding: 10px 0px 10px 20px;
    text-decoration: none;
    margin: 10px;
    border-radius: 66px;
}

.side-nav a:first-child{
    background-color: #ff4655;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #efeeee;
    color: #88ddbb;
}
.nav-tabs .nav-link {
    border-bottom: none;
}

.nav-item a{
    color: #adb5bd;
}

.remove button:nth-child(2){
    border: 1px solid #495057;
    border-radius: 20px;
    background-color: #88ddbb;
    color: #495057;
    outline: none;
}
.edit button:last-child{
    border: 1px solid #495057;
    border-radius: 20px;
    background-color: #88ddbb;
    color: #495057;
    outline: none;
}

.btn-det svg{
    color: #495057;
}
.btn-edit svg{
    color: #495057;
}
.remove button:nth-child(2):hover{
    border: 1px solid #fce27c;
    background-color: #fce27c;
}
.edit button:last-child:hover{
    border: 1px solid #4d90fe;
    background-color: #4d90fe;
}

.manage-product{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}