{% extends "users/layout.html" %}
{%block title %} Add product {% endblock%}
{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about_view' %}">About</a>
        <a href="{% url 'favo' %}">favo</a>
        <a href="{% url 'logout' %}">Logout</a>
        <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            </div>
                <input type="text" placeholder="product" name="product" class="user-regis"> {% if error.product %} {{ error.product }} {% endif %}</br>
                <input type="text" placeholder="price" name="price" class="lname">{% if error.price %} {{ error.price }} {% endif %}</br>
                <!--<input type="text" placeholder="type" name="type" class="sname"></br>-->
                <select name="type" id="type" multiple="multiple">
                  <option value="food">Food</option>
                  <option value="closet">Closet</option>
                  <option value="accessary">Accessary</option>
                  <option value="beauty">Beauty</option>
                  <option value="electronic">Electronic</option>
                  <option value="others">Others</option>
                </select></br>
                <input type="text" placeholder="detail" name="detail" class="pwd-regis">{% if error.detail %} {{ error.detail }} {% endif %}</br>
                <input type="text" placeholder="line" name="line" class="pwd-regis"></br>
                <input type="text" placeholder="instagram" name="instagram" class="pwd-regis"></br>
                <input type="text" placeholder="facebook" name="facebook" class="pwd-regis"></br>
                <input type="text" placeholder="tel" name="tel" class="pwd-regis">{% if error.tel %} {{ error.tel }} {% endif %}</br>
                Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload" multiple></br>
                <input type="submit" value="Add" class="signup"></br>
        </form>
    </div>

{% endblock %}