{% extends "users/layout.html" %}
{%block title %} Add product {% endblock%}
{% block body %}
    <div class="add-container">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="top-nav">
            <a href="{% url 'index' %}">
                <img src="static/image/Icon.png">
                <h1>THAM-MA-HA-KIN</h1>
            </a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="add-pd">
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'thammart' %}">My Mart</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="true">Add Product</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="add-tab">
                        <div class="detail-product">
                            <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    Product: <input type="text" placeholder="product" name="product" class="user-regis" style="margin-left: 16px;">{{error.product}}</br>
                                    <div class="add-price">
                                        Price:
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">฿</span>
                                            </div>
                                            <input type="text" class="form-control" name="price" placeholder="price" aria-label="Amount">
                                            {{error.price}}
                                        </div>
                                    </div>
                                    <!--<input type="text" placeholder="type" name="type" class="sname"></br>-->
                                    Category:<select name="type" id="type" class="category">
                                    <option value="none" selected disabled hidden>
                                            Select a Category
                                    </option>
                                    <option value="food">Food</option>
                                    <option value="closet">Closet</option>
                                    <option value="accessary">Accessary</option>
                                    <option value="beauty">Beauty</option>
                                    <option value="electronic">Electronic</option>
                                    <option value="others">Others</option>
                                    </select> {{error.category}} </br>
                                    Detail:  <input type="text" placeholder="detail" name="detail" class="pwd-regis" style="margin-left: 30px;">{{error.detail}}</br>
                                    Line:    <input type="text" placeholder="line" name="line" class="pwd-regis" style="margin-left: 41px;"></br>
                                    Instagram: <input type="text" placeholder="instagram" name="instagram" class="pwd-regis"></br>
                                    Facebook:  <input type="text" placeholder="facebook" name="facebook" class="pwd-regis"></br>
                                    Tel:       <input type="text" placeholder="tel" name="tel" class="pwd-regis" style="margin-left: 49px;"></br>
                                    Select image to upload: <input type="file" name="fileToUpload" id="fileToUpload" multiple>{{error.image}}</br>
                                    <input type="submit" value="Add" class="signup" style="width: 250px; margin: 15px; margin-left: 70px; margin-right: 70px;"></br>
                            </form>
                        </div>
                  </div>
              </div>
        </div>
    </div>

{% endblock %}