{% extends "users/layout.html" %}
{%block title %} Home {% endblock%}
{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about_view' %}">About</a>
        <a href="{% url 'favo' %}">favo</a>
        <a href="{% url 'add_view' %}">add</a>
        <a href="{% url 'thammart' %}">thammart</a>
        <a href="{% url 'logout' %}">Logout</a></br>
        {% for image in images %}
            <div><img src="{{image}}"></div>
        {% endfor %}
        <form action="{% url 'edit_product' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" value="{{product.t_name}}"></br>
            <input type="text" name="detail"value="{{product.t_detail}}"></br>
            Category: </br><select name="type" id="type" class="category" style="margin-left: 80px;">
                {% if product.t_cat == "food" %}
                    <option value="food" selected >Food</option>
                    <option value="closet">Closet</option>
                    <option value="accessary">Accessary</option>
                    <option value="beauty">Beauty</option>
                    <option value="electronic">Electronic</option>
                    <option value="others">Others</option>
                {% elif product.t_cat == "closet" %}
                    <option value="food">Food</option>
                    <option value="closet" selected>Closet</option>
                    <option value="accessary">Accessary</option>
                    <option value="beauty">Beauty</option>
                    <option value="electronic">Electronic</option>
                    <option value="others">Others</option>
                {% elif product.t_cat == "accessary" %}
                    <option value="food">Food</option>
                    <option value="closet">Closet</option>
                    <option value="accessary" selected>Accessary</option>
                    <option value="beauty">Beauty</option>
                    <option value="electronic">Electronic</option>
                    <option value="others">Others</option>
                {% elif product.t_cat == "beauty" %}
                    <option value="food">Food</option>
                    <option value="closet">Closet</option>
                    <option value="accessary">Accessary</option>
                    <option value="beauty" selected>Beauty</option>
                    <option value="electronic">Electronic</option>
                    <option value="others">Others</option>
                {% elif product.t_cat == "electronic" %}
                    <option value="food">Food</option>
                    <option value="closet">Closet</option>
                    <option value="accessary">Accessary</option>
                    <option value="beauty">Beauty</option>
                    <option value="electronic" selected>Electronic</option>
                    <option value="others">Others</option>
                {% elif product.t_cat == "others" %}
                    <option value="food">Food</option>
                    <option value="closet">Closet</option>
                    <option value="accessary">Accessary</option>
                    <option value="beauty">Beauty</option>
                    <option value="electronic">Electronic</option>
                    <option value="others" selected>Others</option>
                {% endif %}
                    </select></br>
            <input type="text" name="price" value="{{product.t_price}}"></br>
            Line:    <input type="text" placeholder="line" name="line" class="pwd-regis" style="margin-left: 41px;"></br>
            Instagram: <input type="text" placeholder="instagram" name="instagram" class="pwd-regis"></br>
            Facebook:  <input type="text" placeholder="facebook" name="facebook" class="pwd-regis"></br>
            Tel:       <input type="text" placeholder="tel" name="tel" class="pwd-regis" style="margin-left: 49px;"></br>
            <select class="image" multiple="multiple">
                {% for image in images %}
                <div><option data-img-src="{{image}}"></option></div>
                {% endfor %}
            </select>
            <input type="submit" value="edit"></br>
        </form>
    </div>
{% endblock %}