{% extends "users/layout.html" %}
{%block title %} Home {% endblock%}
{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about_view' %}">About</a>
        <a href="{% url 'favo' %}">favo</a>
        <a href="{% url 'add_view' %}">add</a>
        <a href="{% url 'thammart' %}">thammart</a>
        <a href="{% url 'logout' %}">Logout</a></br>
        {% for image in images %}
            <div><img src="{{image}}"></div>
        {% endfor %}
        <form action="{% url 'edit_product' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="{{product.t_name}}"></br>
            <input type="text" name="detail" placeholder="{{product.t_detail}}"></br>
            <input type="text" name="cat" placeholder="{{product.t_cat}}"></br>
            <input type="text" name="price" placeholder="{{product.t_price}}"></br>
            <input type="submit" value="edit"></br>
        </form>
    </div>
{% endblock %}