{% extends "users/layout.html" %}
{%block title %} Home {% endblock%}
{% block body %}
    <div class="thammart">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="top-nav">
            <a href="{% url 'index' %}">
                <img src="static/image/Icon.png">
                <h1>THAM-MA-HA-KIN</h1>
            </a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="mymart">
            <div class="side-nav">
                <a href="{% url 'thammart' %}">My Mart</a>
                <a href="{% url 'add_view' %}">Add Product</a>
            </div>
            <div class="product">
                <a href="{% url 'thammart' %}">THAMMART > My Mart</a>
                {% if not mymart %}
                <h3>No product</h3>
                {% else %}
                    {% for product,images in mymart %}
                        {% for image in images %}
                            <div><img src="{{image}}"></div>
                        {% endfor %}
                    <div>{{product.t_name}} {{product.t_price}}
                        <form action="{% url 'detail' %}" method="POST">
                            {% csrf_token %}
                            <button name="detail" type="submit" value="{{ product.t_detail }}">detail</button>
                        </form>
                        <form action="{% url 'edit' %}" method="POST">
                            {% csrf_token %}
                            <button name="edit" type="submit" value="{{ product.t_detail }}">edit</button>
                        </form>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}