appdirs==1.4.4
asgiref==3.2.10
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.1.1
distlib==0.3.1
Django==3.1.1
django-guardian==1.4.1
django-userena==2.0.1
docutils==0.16
easy-thumbnails==2.7
filelock==3.0.12
html2text==2014.12.29
idna==2.10
importlib-metadata==1.7.0
jeepney==0.4.3
keyring==21.4.0
packaging==20.4
Pillow==7.2.0
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
sqlparse==0.3.1
tqdm==4.49.0
twine==3.2.0
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
zipp==3.2.0
