{% extends "users/layout.html" %}
{%block title %}About{% endblock%}
{% block body %}
    <div class="full-screen">
        <div class="header">
            <img src="static/image/Icon.png">
            <h1>THAM-MA-HA-KIN</h1>
        </div>

        <div class="content">
            <div class="side-bar">
                <a href="">File</a></br>
                <a href="">Github</a></br>
                <a href="">Pivotal</a></br>
                <a href="">Youtube</a></br>
                <a href="">Heroku</a></br>
            </div>
            <div class="about">
                <h2>About ...</h3>
                <div class="member">
                    <h3>Member</h2>
                    <div class="name">
                        <img src="static/image/kitty.png">
                        <p>Pornnapat Tossanuch</p>
                        <img src="static/image/fah.png">
                        <p>Napasson Pisuttharachai</p>
                        <img src="static/image/bim.png">
                        <p>Ganawat Luengaroonroj</p>
                        <img src="static/image/good.png">
                        <p>Thanut Jiarasuwan</p>
                        <img src="static/image/petch.png">
                        <p>Somprad Netrsomsawang</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}