{% extends "users/layout.html" %}
{%block title %}About{% endblock%}
{% block body %}
    <div class="full-screen">
        <div class="header">
            <img src="static/image/Icon.png">
            <h1>THAM-MA-HA-KIN</h1>
        </div>

        <div class="content">
            <div class="side-bar">
                <a href="{% url 'index' %}">Home</a></br>
                <a href="https://drive.google.com/file/d/11IEc6d0E1Us0Ta1iwTKQKNDdIyyr7N-E/view?usp=sharing">File</a></br>
                <a href="https://github.com/PornnapatTos/THAM-MA-HA-KIN.git">Github</a></br>
                <a href="https://www.pivotaltracker.com/n/projects/2469933">Pivotal</a></br>
                <a href="">Youtube</a></br>
                <a href="https://thammahakin.herokuapp.com/">Heroku</a></br>
            </div>
            <div class="about">
                <h3>เว็บแอพลิเคชัน THAMMA-HA-KIN เปรียบเสมือนพื้นที่ซื้อ-ขายสินค้าออนไลน์ สำหรับนักศึกษาและศิษย์เก่าธรรมศาสตร์ ให้สามารถเข้ามาฝากร้านหรือฝากสินค้าของตนเอง เพื่อเป็นช่องทางการหารายได้อีกช่องทางหนึ่ง ซึ่งจะคำนึงถึงความสะดวกของผู้ใช้งาน ทั้งผู้ขายและผู้ซื้อ </h3>
                <div class="member">
                    <h3>Member</h3>
                    <div class="name">
                        <img src="static/image/kitty.png">
                        <p>Pornnapat Tossanuch</p>
                        <img src="static/image/fah.png">
                        <p>Napasson Pisuttharachai</p>
                        <img src="static/image/bim.png">
                        <p>Ganawat Luengaroonroj</p>
                        <img src="static/image/good.png">
                        <p>Thanut Jiarasuwan</p>
                        <img src="static/image/petch.png">
                        <p>Somprad Netrsomsawang</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}