{% extends "users/layout.html" %}
{%block title %}About{% endblock%}
{% block body %}
    <div class="full-screen">
        <div class="header">
            <a href="{% url 'index' %}">
                <img src="static/image/Icon.png">
                <h1>THAM-MA-HA-KIN</h1>
            </a>
        </div>
        <div class="content">
            <div class="head-bar">
                <img src="static/image/home2.png">
                <a href="{% url 'index' %}">Home</a>
                <img src="static/image/Document.png">
                <a href="https://drive.google.com/drive/folders/1zF6fhk53pqHLX_okXKMwsRcCUSBmZ3bp?usp=sharing">File</a>
                <img src="static/image/github.png">
                <a href="https://github.com/PornnapatTos/THAM-MA-HA-KIN.git">Github</a>
                <img src="static/image/Pivotal-Tracker.png">
                <a href="https://www.pivotaltracker.com/n/projects/2469933">Pivotal</a>
                <img src="static/image/youtube.png">
                <a href="https://www.youtube.com/watch?v=T-jeVxq6fns">Youtube</a>
                <img src="static/image/heroku.png">
                <a href="https://thammahakin.herokuapp.com/">Heroku</a>
            </div>
            <div class="about">
                <h2>ABOUT</h2>
                <h5>เว็บแอพลิเคชัน THAMMA-HA-KIN (ธรรมมาหากิน)
                    เปรียบเสมือนพื้นที่ซื้อ-ขายสินค้าออนไลน์ สำหรับนักศึกษาและศิษย์เก่าธรรมศาสตร์ ให้สามารถเข้ามาฝากร้านหรือฝากขายสินค้าของตนเองได้
                    เป็นการเพิ่มช่องทางการหารายได้อีกช่องทางหนึ่ง โดยภายในเว็บแอพลิเคชันจะมีการจัดสรรสินค้าไว้เป็นหมวดหมู่ เพื่อความสะดวกของผู้ใช้งานทั้งผู้ขายและผู้ซื้อ</h5>
            </div>
            <div></div>
            <div class="member">
                <h2>MEMBER</h2>
                <div class="name">
                    <div>
                        <img src="static/image/kitty.png">
                        <p>Pornnapat Tossanuch</p></div>
                    <div>
                        <img src="static/image/fah.png">
                        <p>Napasson Pisuttharachai</p></div>
                    <div>
                        <img src="static/image/bim.png">
                        <p>Ganawat Luengaroonroj</p></div>
                    <div>
                        <img src="static/image/good.png">
                        <p>Thanut Jiarasuwan</p></div>
                    <div>
                        <img src="static/image/petch.png">
                        <p>Somprad Netrsomsawang</p></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}