<html lang="en">
    <body>
        <div>
            {% if messages %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'forgot' %}" method="POST" class="input-form" >
                {% csrf_token %}
                Please Check Your E-mail To got the verify
                Your Email : <input type="text" name="email" value="{{user}}"> </br>
                Your Digit : <input type="text" name="verify"> </br>
                <button type="submit" name="digit" value="{{digit}}">Sent Verify</button>
            </form>
        </div>
    </body>
</html>