{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/forgot-pwd.css' %}" type="text/css">
    </head>
    <body>
        <div class="forgot-pwd">
            {% if messages %}
                <div>{{ message }}</div>
            {% endif %}
            <div class="fg-container">
                <form action="{% url 'forgot' %}" method="POST" class="input-form" >
                    {% csrf_token %}
                    <div class="fg-pwd">
                        <img src="static/image/logo-footer.png">
                        <h5>Your Email : </h5><input type="text" name="email">
                        <button type="submit"><h6>Sent Verify</h6></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>