{% extends "users/layout.html" %}
{%block title %} Home {% endblock%}
{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about_view' %}">About</a>
        <a href="{% url 'logout' %}">Logout</a>
        <form action="{% url 'index' %}" method="POST" class="input-form">
            {% csrf_token %}
            <li><button name="intro" type="submit" value="intro">แนะนำ</button></li>
            <li><button name="food" type="submit" value="food">อาหาร</button></li>
            <li><button name="closet" type="submit" value="closet">เสื้อผ้า</button></li>
            <li><button name="accessary" type="submit" value="accessary">เครื่องประดับ</button></li>
            <li><button name="beauty" type="submit" value="beauty">เครื่องสำอาง</button></li>
            <li><button name="electronic" type="submit" value="electronic">อุปกรณ์ไฟฟ้า</button></l
            <li><button name="others" type="submit" value="others">อื่นๆ</button></li>
        </form>
        <!--{% for image in images %}-->
        <!--{{image}}-->
        <!--<img src="{{image}}">-->
        <!--{% endfor %}-->
    </div>
    <div>
        {% if not products %}
        <h3>No product</h3>
        {% else %}
            {% for product,images in products %}
                {% for image in images %}
                    <!--{{image}}-->
                    <img src="{{image}}">
                {% endfor %}
                <div> {{product.t_name}} {{product.t_price}}</div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}