{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/signin-signup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/add.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/thammart.css' %}" type="text/css">
        <title>{%block title %}{% endblock%}</title>
        <style>
            /* width */
            ::-webkit-scrollbar {
              width: 10px;
              height: 15px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
              box-shadow: inset 0 0 10px #5454546e;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
              background: #8a8989;
            }

            </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>