{% extends "users/layout.html" %}
{%block title %}Register{% endblock%}
{% block body %}
    <div class="register">
        {% if message %}
            <div class="alert-register">{{ message }}</div>
        {% endif %}
        <div class="register-container">
            <form action="{% url 'add_user' %}" method="POST" class="input-form" >
                {% csrf_token %}
                <div class="head-sign">
                    <img src="static/image/Icon-v2.png">
                    <h3>THAMMA-HA-KIN</h3>
                    <p>Welcome to THAMMAHAKIN. Please register to continue.</p>
                </div>
                    <input type="text" placeholder="username" name="username" class="user-regis">
                    <div class="name-surname">
                        <input type="text" placeholder="name" name="name" class="lname">
                        <input type="text" placeholder="surname" name="sname" class="sname">
                    </div>
                    <input type="mail" placeholder="email" name="mail" class="mail-regis">
                    <input type="password" placeholder="password" name="password" class="pwd-regis">
                    <input type="password" placeholder="confirm password" name="cpassword" class="pwd-regis">
                    <input type="submit" value="Register" class="signup">

                <div class="footer-login">
                    <p>Have an account?</p>
                    <button><a href="{% url 'login' %}">Login</a></button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}