{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/reset-pwd.css' %}" type="text/css">
    </head>
    <body>
        <div class="reset-pwd">
            <div class="reset-container">
                <form action="{% url 'reset' %}" method="POST" class="input-form" >
                    {% csrf_token %}
                    <div class="reset">
                        <img src="static/image/logo-footer.png">
                        <h5>New password : </h5><input type="password" name="n_password">
                        <h5>Confirm Password : </h5><input type="password" name="nc_password">
                        <!--<input type="hidden" name="user" value=""> </br>-->
                        <button type="submit" name="user" value="{{user}}"><h6>Change Password</h6></button>
                    </div>
                </form>
            </div
        </div>
    </body>
</html>
